* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.inner-main {
  width: 560px;
  height: 560px;
  background-color: lightslategray;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.tile {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.tile:hover {
  background-color: lightgray;
}